.header_logo img {
  width: 50px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_link span {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  display: block;
}
