.main-todo {
  background: linear-gradient(-45deg, #341c28, #0ba27f, #341c28, #022c21);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-weight: 400;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 45%;
  background: #161a2b;
  text-align: center;
  margin: 10rem auto;
  border-radius: 0.3rem;
}
footer {
  padding: 0.5rem 0 0.5rem 0;
}
.app .todo-input {
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.1rem solid #5d0cff;
  outline: none;
  width: 100%;
  background: transparent;
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
  box-shadow: 0 0 0.5rem 0 #5d0cff;
}
.todo-checked {
  width: 0.9rem;
  height: 0.9rem;
}
.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  width: 3rem;
  align-items: center;
  height: 3rem;
  font-size: 1.5rem;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
      90deg
    , rgb(255 46 12) 0%, rgb(250 0 104) 100% );
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-family: sans-serif;
  box-shadow: 0 0 1.5rem 0 #fe2331;
}
.todo-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.todo-add {
  padding: 0.6rem;
  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
      90deg
    , rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100% );
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-family: sans-serif;
  box-shadow: 0 0 0.3rem 0 #5d0cff;
}

.app input.edit {
  border: 0.2rem solid #149fff;
}

.odo-add .edit {
  background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
  );
  padding: 1.6rem 2.2rem;
}
.app form {
  display: flex;
  width: 96%;
  margin: 0 auto;
  justify-content: center;
  padding: 0.6rem 0 0.6rem 0;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem auto;
  color: #fff;
  /* box-shadow: 0 0 5px -15px rgb(0 0 0 / 20%); */
  padding: 1.2rem 0px;
  /* border-radius: 5px; */
  border-bottom: 0.1rem solid #ffff;
  width: 92%;
}
.main-todo {
  height: 30rem;
  overflow: auto;
  background-color: #fff;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
}

.delete-icon {
  margin-right: 0.5rem;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
.todo-title {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  width: 95%;
}
#root {
  width: 30%;
  margin: 0 auto;
}
@media screen and (min-height: 800px) {
  body {
    background: linear-gradient(-45deg, #046d54, #2341d5, #8d7b07, #054280);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@media screen and (max-height: 800px){
  body {
    overflow: hidden;
  }
  #root {
    width: 100%;
    height: 100vh;
  }
  .app {
    margin: 0;
    height: 100%;
    border-radius: 0;
  }
  .main-todo {
    height: 100%;
  }
  .todo-row {
    width: 95%;
  }

}
@media screen and  (max-width: 990px){
  body {
    overflow: hidden;
  }
  .main-todo {
    height: 100%;
  }
  #root {
    width: 100%;
    height: 100vh;
  }
  .app {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  .todo-row {
    width: 98%;
  }
}
@media screen and (min-height: 700px){
  body {
    overflow: hidden;
  }
}









